.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.logo {
  padding: 30px 50px 0;
  top: 20px;
  a {
    text-decoration: none;
    transition: 1s all;
    &:hover {
      text-decoration: underline #725599;
    }
  }
  h2 {
    color: #baa193;
    font-size: 2rem;
    line-height: 1rem;
  }
  h1 {
    color: #72005f;
    font-size: 3rem;
    margin-bottom: 50px;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  height: 100%;
  background-color: #c1c1c1;
  width: 100%;
  position: relative;
  @media (max-width: 1024px) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  &__quote {
    height: 100%;
    p {
      color: #72005f;
      padding: 50px 100px 0;
      font-size: 2rem;
      font-weight: 800;
      max-width: 300px;
      @media (max-width: 1024px) {
        padding: 50px 20px 0;
      }
    }
    h3 {
      color: #725599;
      font-size: 2rem;
      display: flex;
      width: 100%;
      position: relative;
      right: 4rem;
      justify-content: flex-end;
    }
    &__refresh {
      position: absolute;
      bottom: 20px;
      left: 20px;
      @media (max-width: 1024px) {
        position: relative;
        padding: 40px 0;
        text-align: center;
        bottom: 0px;
        left: 0px;
      }
      a {
        text-decoration: none;
        transition: 1s all;
        &:hover {
          text-decoration: underline #725599;
        }
        svg {
          transform: translateY(2px);
        }
        span {
          font-size: 1.25rem;
          margin-left: 10px;
        }
      }
    }
  }
  &__image {
    position: relative;
    top: 2px;
    @media (max-width: 1024px) {
      width: 100%;
      top: 0px;
    }
    img {
      height: 100%;
      border-radius: 10% 0 0% 10%;
      width: 100%;
      @media (max-width: 1024px) {
        border-radius: 0% 0 10% 10%;
        width: 100%;
      }
    }
  }
}
