.container {
  width: 100%;
  max-width: 900px;
  padding: 0 100px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  height: 60%;
  background-color: #c1c1c1;
  width: 100%;
  &__quote {
    padding: 150px;
    p {
      color: #72005f;
      font-size: 2rem;
      font-weight: 800;
      max-width: 150px;
    }
    h3 {
      color: #725599;
      font-size: 2rem;
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
  }
  img {
    height: 100%;
    border-radius: 10% 0 0% 10%;
  }
}

.logo {
  padding: 50px;
  position: fixed;
  h2 {
    color: #baa193;
    font-size: 2rem;
    line-height: 2rem;
  }
  h1 {
    color: #72005f;
    font-size: 3rem;
    margin-bottom: 50px;
  }
}
