.container {
  width: 100%;
  max-width: 900px;
  padding: 0 100px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  height: 60%;
  background-color: #c1c1c1;
  width: 100%;
  position: relative;
  &__quote {
    height: 100%;
    p {
      color: #72005f;
      padding: 50px 100px 0;
      font-size: 2rem;
      font-weight: 800;
      max-width: 300px;
    }
    h3 {
      color: #725599;
      font-size: 2rem;
      display: flex;
      width: 100%;
      position: relative;
      right: 4rem;
      justify-content: flex-end;
    }
    &__refresh {
      position: absolute;
      bottom: 20px;
      left: 20px;
      a {
        text-decoration: none;
        transition: 1s all;
        &:hover {
          text-decoration: underline #725599;
        }
        svg {
          transform: translateY(2px);
        }
        span {
          font-size: 1.25rem;
          margin-left: 10px;
        }
      }
    }
  }
  img {
    height: 100%;
    border-radius: 10% 0 0% 10%;
  }
}

.logo {
  padding: 30px 50px;
  position: fixed;
  a {
    text-decoration: none;
    transition: 1s all;
    &:hover {
      text-decoration: underline #725599;
    }
  }
  h2 {
    color: #baa193;
    font-size: 2rem;
    line-height: 1rem;
  }
  h1 {
    color: #72005f;
    font-size: 3rem;
    margin-bottom: 50px;
  }
}
